/log
/private
/files
*.pyc
.vscode
/experiments/installation-time
/experiments/limited-threads
/experiments/monitoring-impact
/experiments/unlimited-threads
/experiments/simulations
/experiments/graphs